/* Global Styles*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background: black;
  opacity: 0.5;
  text-align: center;
}

/*header */

header{
  height: 69px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px soild seashell;
}

header img{
  height: 50px;
}

nav a{
  color: inherit;
}

/*main section*/

main{
  background:url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1y8m2rw*_gcl_au*MzgxNjIyODg3LjE3ODA0MDMwNTM.*_ga*OTM2MzgwNzcxOS4xNzcwNTE0MzUw*_ga_3LRZM6TM9L*czE3ODI5MDYzMjckbzcxJGcxJHQxNzgyOTE0Mjg4JGo2MCRsMCRoMA..");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
}

.main-text{
  background: black;
  width: 100%;
}

.main-text *{
  margin: 10px 0;
}

.tea-of-the-month img{
  width: 300px;
  height: 200px;
}

.tea-images{
  width: 1000px;
  display: flex;
}
